<!doctype html>
<html lang="{{ block "layout-html-lang" . }}en{{ end }}">
    <head>
        <title>{{ block "layout-title" . }}{{ end }} - Layout title</title>

        <!-- Required meta tags for Bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/main.min.css">

        {{ block "layout-head" . }}{{ end }}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <small>
                        The layout is rendered from <em>templates/layouts/default.html</em>
                    </small>
                </div>
            </div>
            {{ template "components/nav.html" }}

            {{ block "layout-content" . }}{{ end }}
        </div>

        <script src="/js/main.min.js"></script>

        {{ block "layout-script" . }}{{ end }}
    </body>
</html>