    <div class="container-fluid">
        <div class="row bg-dark text-light" style="min-height:20em;margin-top:8em;padding-top:8em;">
            <div class="col-md-12 text-center">
                <small>Created with ♥ by <a href="https://github.com/leonelquinteros/thtml" target="_blank">THTML</a></small>
            </div>
        </div>
    </div>
    
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    {{ block "layout-script" . }}{{ end }}
    </body>
</html>