<!doctype html>
<html lang="{{ block "layout-html-lang" . }}en{{ end }}">
    <head>
        <title>{{ block "layout-title" . }}{{ end }} - Layout title</title>

        <!-- Required meta tags for Bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css?_={{ id }}">

        {{ block "layout-head" . }}{{ end }}
    </head>

    <body>
